@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


html,
body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow: 1;
}


.header{
    padding: 50px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 30px;
    }
    &__list-link{
        color: #436372;
        @extend %rubik-500;
    }
}

.user-nav{
    display: flex;
    &__link-img{
        position: relative;
    }
    .link-search{
        background-color: #edf1f4;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 25px;
        position: relative;
        &_img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-45%, -50%);
        }
    }
    .link-heart{
        background-color: $bg;
        height: 50px;
        border-radius: 25px 0 0 25px;
        padding: 0 30px 0 30px;
        border-right: 1px solid #fef7f0;
        display: flex;
        position: relative;
        .user-nav__num{
            position: absolute;
            top: 15%;
            right: 20%;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
        }
    }
    .link-cart{
        background-color: $bg;
        height: 50px;
        border-radius: 0 25px 25px 0;
        padding: 0 30px 0 30px;
        margin-right: 25px;
        display: flex;
        position: relative;
        .user-nav__num{
            position: absolute;
            top: 15%;
            right: 20%;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
        }
    }
    &__view-btn{
        width: 50px;
        height: 50px;
        background-color: #a3bbc8;
        border: none;
        border-radius: 50%;
        position: relative;
        img{
            position: absolute;
            top: 15px;
            left: 15px;
        }
    }
}


.footer__top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    border-bottom: 1px solid #dae4e9;
    &-item-title{
        color: $footitle;
        @extend %dms-700;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 25px;
    }
    &-item-text, a{
        @extend %rubik-400;
        color: #7b7b7b;
        font-size: 14px;
        line-height: 32px;
        text-decoration: none;
    }
    .footer__item-contacts{
        max-width: 200px;
    }
    .subscribe_form{
        max-width: 270px;
    }
    .subscribtion{
        max-width: 270px;
        margin-bottom: 35px;
    }
    .subscribe_input{
        max-width: 170px;
        padding: 11px 16px;
        background-color: #fef7f0;
        border: none;
        @extend %dms-400;
        font-size: 12px;
        color: #234969;
        margin-right: -4px;
    }
    .subscribe_btn{
        background-color: #a3bbc8;
        @extend %dms-400;
        font-size: 14px;
        color: #fff;
        padding: 11px 19px 11px 17px;
        border: none;
    }
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    @extend %dms-400;
    font-size: 14px;
    color: #7b7b7b;
    &-links a{
        padding: 0 13px;
        color: #7b7b7b;
        text-decoration: none;
        border-left: 1px solid #7b7b7b;
    }
    &-links a:nth-child(1){
        border-left: none;
    }
}


@import 'media';